html{
    height: 100%;
    display: block;
}
body {
    font-family:"Arial", sans-serif;    
    font-size: small;   
    margin: 0; 
    padding: 0;
    height: 100%;
}

/*links do cabeçalho*/
header {    
    font-size: 13px;   
    overflow: hidden;
}

ul {
    list-style-type: none; /*remove o estilo da lista(remove pontos)*/    
    padding: 0 30px;
    float: right; /*mantem os elementos da lista na direita da tela*/    
        
}

li {
    display: inline-block; /*exibe elementos da lista na mesma linha*/
    padding: 0px 10px; /*altera distancia entre links*/
    line-height: 26px;
    
}

li a {                     /*edita propriedades dos hiperlinks*/
    text-decoration: none; /*remove sublinhado clássico de link*/
    color:rgb(34,34,34); /*troca cor azul(padrão) por outra*/    
    display: inline-block; /*permite dar um tamanho ao elemento*/
    margin: auto;
    overflow:auto;
    
}
.appimg{
    width: 26px;
    height: 26px;
    filter: brightness(50%) invert(0); /*modifica propriedades da imagem*/  
    vertical-align: middle;
}
.loginb { /*propriedades apenas do link "Fazer Login"*/    
    font-weight: bold;
    background: #4387fd; /*cor fundo*/    
    color: white; /*cor letra*/    
    cursor: default; /*cursor nao altera*/
    border: 1px solid #4387fd;
    border-radius: 2px;
    padding: 0 12px;
    
 }

/*área de busca e logo*/

.searcharea{ 
  margin: auto;
  width: 100%;  
  position: relative;  
  
}
.logo{
    padding-top: 150px;
    
}
.logo ,.searcharea ,.buttons{ /* "," individualiza as classes*/   
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
}

.searchelements {
    width: 600px;
    margin: 30px auto auto;
    border: 1px solid #dfe1e5;
    border-radius: 26px;
    height: 40px;
    
}
.sbox {
    font-size:13pt;    
    width:450px;
    margin: auto;    
    padding: 6px 6px;
    border: none; /*remove a borda padrão da caixa de texto*/
}
.keyb {
        
    vertical-align: middle;
    padding: 6px 0 6px 8px;
}
.micro {
    height: 26px;
    width: 26px;    
    vertical-align: middle;
    padding: 6px 0 6px 12px;
}
.magnif {
    height: 16px;
    width: 16px;
    vertical-align: middle;    
    padding: 6px 0 6px 4px;
}
.buttons{
    padding-top: 16px;
}
.bstyle { /*estilo botões de busca*/
    margin: 11px 4px;    
    padding: 0 16px; /*paddin: top/bottom left/right;, mesmo para margin*/
    border: 1px solid #f2f2f2;/*border: width type color;*/
    border-radius: 4px; /*curva cantos borda*/
    line-height: 27px;
    height: 36px;    
    background-color: #f2f2f2;    
    font-size: 14px;
    color: #5f6368;
    
}

/*rodape*/
footer {
    color: #5f6368;
    position: absolute;
    bottom: 0;
    width: 100%;    
    background-color: #f2f2f2;    
    
    margin: auto;
    
}

.region{
    color: #5f6368;
    width: auto;
    font-size: 15px;    
    padding: 12px 0 12px 24px;
}

footer a{  /*altera só links dentro do footer*/ 
    text-decoration: none; /*remove sublinhado clássico de link*/
    color: #5f6368;    
    padding-right: 10px;
    padding-top: 10px;
    font-size: 13px; 
    
}

.linkleft{ 
 padding: 12px 0 12px 24px; 
 display: inline-block;
 width: auto;
}

.linkright{    
    float: right;    
    padding: 10px 50px 10px 0;
    
}