body {
    font-family:"Arial", sans-serif;
    font-size: small;
    color:#222;

}
.header
{
    font-family:"Arial", sans-serif;
    font-size: 13px;

    align-items: center;

    display: flex; 
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
    float: right;
    
    min-width: 188px;
    order:1;
    padding-left: 30px;
    padding-right: 30px;
    
    text-align: right;
    
    white-space: nowrap;
    z-index: 987;
    line-height: 28px;    
}

a {                         /*edita propriedades do texto dos links*/
    text-decoration: none; /*remove sublinhado clássico de link*/
    color:rgb(34,34,34); /*mantém a cor preta*/
}

.mail-img {
  display: flex;
  display: flex;
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
  padding-right: 15px;
}

.app-login {
    display: flex;
}

/*apenas gmail e apps tem essa classe*/
/*.hlink { 
   
}
.gmail {
    padding-right: 15px;
    display: inline-block;
}
.apps{
    padding-right: 15px;
    display: inline-block;
}
*/

.imagens{
    padding-left: 15px;
    display: inline-block;
}
.login {      
    
      display: inline-block;
      padding-left:15px;
}

.flog { /*propriedades apenas do link*/
    font-weight: bold;
    outline: none;
    background: #4387fd;
    background-size: auto;
    background-clip: border-box;
    color: white;
    border: rgb(66,133,244);
    border-radius: 2px;
    border-width: 1px;
    border: 1px;    
    border-style: solid;
    cursor: default; /*aparece a seta ao invés da mão*/
    padding-left: 12px;
    padding-right: 12px;
    display: inline-block;
 }

.searcharea {
    text-align: center;   
     
}
.imagem {
    padding-top: 109px;
}
   

.bstyle {
    margin: 11px 4px; 
    
    padding: 0 16px; /*paddin: top/bottom left/right;, mesmo para margin*/

    border: 1px solid #f2f2f2;/*border: width type color;*/
    border-radius: 4px; /*curva cantos borda*/

    line-height: 27px;
    height: 36px;
    background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
    background-color: #f2f2f2;    
    
    box-sizing: border-box;
    font-size: 14px;    

    color: #5f6368;

}
